<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <%= render 'menu' %>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <%= render 'layouts/shared/flash' if flash.present? %>
            <h2><%= current_user.name %></h2>
            <%= image_tag user_avatar_url(current_user), width: 120, height: 120, class: 'mb-4 rounded-circle' %>
            <%= simple_form_for current_user, url: update_user_settings_path, data: { turbo: false } do |f| %>
              <%= f.input :avatar, label: false, hint: 'Escolha uma foto para sua conta.', input_html: { class: 'input_image_full' } %>
              <%= f.input :email, readonly: true %>
              <%= f.input :name %>
              <%= f.input :phone, input_html: { class: 'mask-phone' } %>
              <%= f.button :submit, "Atualizar", class: 'btn btn-primary mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
