<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <%= render 'menu' %>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <%= render 'layouts/shared/flash' if flash.present? %>
            <h2>Alterar senha</h2>
            <%= simple_form_for current_user, url: update_password_settings_path, data: { turbo: false } do |f| %>
              <%= f.input :current_password %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
              <%= f.button :submit, "Atualizar senha", class: 'btn btn-primary mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
