<p style="color: green"><%= notice %></p>

<h1 class="h3 mb-4 text-gray-800">Categoria</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th>Nome</th>
            <th>Posição</th>
            <th>Ações</th>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                  <td><%= category.name %></td>
                  <td><%= category.position %></td>
                  <td>
                    <%= link_to "Detalhes", admin_category_path(category), class: 'btn btn-dark' %>
                    <%= link_to "Editar", edit_admin_category_path(category), data: { controller: 'admin-modal' }, class: 'btn btn-warning' %>
                    <%= link_to "Excluir", admin_category_path(category), method: :delete, class: 'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: 'Deseja realmente exlcuir?'} %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to "Nova categoria", new_admin_category_path, data: { controller: 'admin-modal' }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
