<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Showzim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag "devise", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Ecommerce Showzim</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-user-o"></span>
              </div>
              <h3 class="text-center mb-4">Login</h3>
              <%= render 'layouts/shared/flash' if flash.present? %>
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </section>
  </body>
</html>
